// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#build_your_own_content {
	display: none;
}


span.glyphicon.inline {
    float: right;
    position: relative;
    top: -25px;
    right: -20px;
    cursor: pointer;
}


.ing-input {
	float: left;
}